### Pertama kita import dulu library yang akan digunakan disini saya menggunakan pandas dan pretty table

### Setelah mengimport library kita read data csv nya, disini saya menggunakan decoder ISO-8859-1 karena ada error jika menggunakan decoder default (UTF-8)

In [1]:
import pandas as pd
from prettytable import PrettyTable

df = pd.read_csv("dataGames.csv",encoding = "ISO-8859-1")

### syntax untuk menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 pada atribut bertipe angka

In [2]:
df.describe()

,Unnamed: 0,id,tba,rating,rating_top,reviews_text_count,metacritic,playtime,suggestions_count,user_game,reviews_count
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,2649.000000,4000.000000,4000.000000,0.0,4000.000000
mean,2000.500000,2000.500000,0.002250,3.352935,3.51250,2.213750,76.585504,4.567750,410.594000,NaN,314.995250
std,1154.844867,1154.844867,0.047387,0.736663,1.15874,4.782602,9.522689,16.738024,178.978419,NaN,512.998879
min,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000,23.000000,0.000000,0.000000,NaN,2.000000
25%,1000.750000,1000.750000,0.000000,2.910000,3.00000,0.000000,71.000000,1.000000,279.000000,NaN,58.000000
50%,2000.500000,2000.500000,0.000000,3.460000,4.00000,1.000000,78.000000,3.000000,415.000000,NaN,132.000000
75%,3000.250000,3000.250000,0.000000,3.920000,4.00000,2.000000,83.000000,4.000000,534.000000,NaN,338.000000
max,4000.000000,4000.000000,1.000000,4.800000,5.00000,72.000000,99.000000,900.000000,1668.000000,NaN,6610.000000

### syntax untuk menampilkan 10 record pertama

In [3]:
df.select_dtypes(['int64','float64']).head(10)

,Unnamed: 0,id,tba,rating,rating_top,reviews_text_count,metacritic,playtime,suggestions_count,user_game,reviews_count
0,1,1,0,4.47,5,57,92.0,74,421,NaN,6610
1,2,2,0,4.66,5,69,92.0,45,671,NaN,6332
2,3,3,0,4.61,5,32,95.0,11,545,NaN,5470
3,4,4,0,3.57,4,24,81.0,65,587,NaN,3369
4,5,5,0,4.05,4,12,86.0,10,643,NaN,3781
5,6,6,0,4.51,5,25,90.0,4,283,NaN,4554
6,7,7,0,4.09,4,10,89.0,9,586,NaN,3162
7,8,8,0,4.42,5,32,94.0,46,600,NaN,4490
8,9,9,0,4.59,5,72,96.0,20,605,NaN,4786
9,10,10,0,4.38,5,22,94.0,12,594,NaN,3918

### Menampilkan informasi jumlah record, jumlah attribute, nama attribute, dan jumlah attribute dengan tipe angka

In [4]:
dataset = {
    "Jumlah Record" : len(df),
    "Jumlah Atribut" : len(df.columns),
    "Nama Atribut" : df.columns,
    "Jumlah Atribut Angka" : len(df.select_dtypes('int64')) + len(df.select_dtypes('float64'))
}
ds = PrettyTable()
s=""
for i,j in dataset.items():
    if i == 'Nama Atribut':
        for x in dataset['Nama Atribut']:
            s += x + "\n"
        ds.add_column(i,[s])
    else:
        ds.add_column(i,[j])
print(ds)

+---------------+----------------+--------------------+----------------------+
| Jumlah Record | Jumlah Atribut |    Nama Atribut    | Jumlah Atribut Angka |
+---------------+----------------+--------------------+----------------------+
|      4000     |       16       |     Unnamed: 0     |         8000         |
|               |                |         id         |                      |
|               |                |        slug        |                      |
|               |                |        name        |                      |
|               |                |      released      |                      |
|               |                |        tba         |                      |
|               |                |  background_image  |                      |
|               |                |       rating       |                      |
|               |                |     rating_top     |                      |
|               |                | reviews_text_count |                      |
|               |                |     metacritic     |                      |
|               |                |      playtime      |                      |
|               |                | suggestions_count  |                      |
|               |                |      updated       |                      |
|               |                |     user_game      |                      |
|               |                |   reviews_count    |                      |
|               |                |                    |                      |
+---------------+----------------+--------------------+----------------------+

### Menampilkan  nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir

In [5]:
df.iloc[22:,3:]

,name,released,tba,background_image,rating,rating_top,reviews_text_count,metacritic,playtime,suggestions_count,updated,user_game,reviews_count
22,Grand Theft Auto IV,2008-04-29,0,https://media.rawg.io/media/games/4a0/4a0a1316...,4.26,4,18,95.0,10,493,2023-09-04T20:30:09,NaN,2834
23,Cyberpunk 2077,2020-12-10,0,https://media.rawg.io/media/games/26d/26d44377...,4.13,5,53,73.0,25,606,2023-09-03T18:15:40,NaN,2442
24,Rocket League,2015-07-07,0,https://media.rawg.io/media/games/8cc/8cce7c0e...,3.94,4,14,86.0,20,619,2023-09-05T05:51:32,NaN,2736
25,Terraria,2011-05-16,0,https://media.rawg.io/media/games/f46/f466571d...,4.06,4,14,81.0,15,300,2023-09-05T05:27:33,NaN,2276
26,Dota 2,2013-07-09,0,https://media.rawg.io/media/games/6fc/6fcf4cd3...,3.06,3,23,90.0,14,415,2023-09-03T16:04:39,NaN,2657
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,Hunted: The Demons Forge,2011-05-31,0,https://media.rawg.io/media/games/860/860171b6...,3.27,3,0,61.0,2,646,2023-07-25T21:48:11,NaN,73
3996,Futuridium EP Deluxe,2014-09-30,0,https://media.rawg.io/media/screenshots/b43/b4...,1.96,1,0,NaN,5,175,2023-04-24T17:37:05,NaN,67
3997,Castlevania Anniversary Collection,2019-05-16,0,https://media.rawg.io/media/games/d56/d56412cd...,4.05,4,1,78.0,1,225,2023-02-22T13:15:28,NaN,38
3998,RAD,2019-08-20,0,https://media.rawg.io/media/screenshots/674/67...,3.15,3,0,72.0,2,486,2023-08-18T10:59:35,NaN,47
3999,Space Run Galaxy,2016-06-17,0,https://media.rawg.io/media/screenshots/def/de...,2.15,1,0,75.0,4,336,2023-08-31T08:00:01,NaN,20

### syntax untuk menampilkan jumlah nilai dari semua attribute yang bernilai object

In [6]:
df.select_dtypes('object').value_counts()

slug                          name                           released    background_image                                                                  updated
10-second-ninja-x             10 Second Ninja X              2016-07-19  https://media.rawg.io/media/screenshots/085/0851d86b5e8250ee33af5ab56544989b.jpg  2023-08-23T13:29:38    1
riders-of-icarus              Riders of Icarus               2016-07-06  https://media.rawg.io/media/screenshots/3f9/3f91ed2b09ad06c8f5b3d1981f53b2e7.jpg  2023-03-27T18:59:03    1
retro-game-crunch             Retro Game Crunch              2014-05-19  https://media.rawg.io/media/screenshots/362/3624537cf8fd13820ed3d384060b8153.jpg  2023-01-05T02:07:56    1
retrograde                    Retro/Grade                    2012-08-21  https://media.rawg.io/media/screenshots/fe3/fe315f406182f84841ebc8c5c4119553.jpg  2019-09-17T05:16:02    1
retrowave                     Retrowave                      2018-06-26  https://media.rawg.io/media/screenshots/230/230ce214ed287b628b5b5a59d5bd37b7.jpg  2023-08-26T10:25:30    1
                                                                                                                                                                                 ..
goat-of-duty                  Goat of Duty                   2019-07-10  https://media.rawg.io/media/screenshots/eef/eef872fddedf40e6d2236bb981725cc6.jpg  2023-08-08T00:46:35    1
goat-simulator                Goat Simulator                 2014-04-01  https://media.rawg.io/media/games/a44/a444a7628bdb49b24d06a7672f805814.jpg        2023-09-05T19:58:27    1
god-eater-2-rage-burst        GOD EATER 2: Rage Burst        2015-02-19  https://media.rawg.io/media/screenshots/73e/73e4d78a55248fc26a4e06726b6bd969.jpg  2023-09-02T16:07:24    1
god-eater-3                   God Eater 3                    2019-02-08  https://media.rawg.io/media/games/18c/18c12ae1985e174ae9b82a11ce0cb6d5.jpg        2023-04-28T14:17:26    1
zwei-the-ilvard-insurrection  Zwei: The Ilvard Insurrection  2008-09-25  https://media.rawg.io/media/screenshots/fc9/fc90404f8713e306a99ba9e6e92b1b60.jpg  2023-06-19T02:46:32    1
Length: 3973, dtype: int64